body {
    background-color: blue;
}

.links {
    background-color: red;
    border: 5px dotted;
    box-shadow: 0 0 0 2rem #ff00f4;
    padding: 1rem;
}

.rant {
    font-size:10px;
    box-shadow:0 0 0 2rem white;
}
